<% provide(:meta_title, "MooCowキャベツ") %>
<% provide(:meta_type, "website") %>
<% provide(:meta_url, "https://moocow-cabbage.com") %>
<% provide(:meta_image, "/images/cabbage-header.jpg") %>
<% provide(:meta_description, "美味しいキャベツを作るには！？キャベツの作り方をキャベツ農家が伝授") %>
<% provide(:crumb, breadcrumb_html([])) %>

<div class="articles">
  <% @docs.each do |doc| %>
    <div class="doc">
      <!-- 公開日の表示 -->
      <p class="created-date">
        <time><%= doc.created_at.strftime("%Y/%m/%d") %></time>
      </p>
      <!-- タイトルの表示 -->
      <h2 class="article-title"><%= link_to doc.title, "/docs/#{doc.filename}" %></h2>
      <!-- サムネイルの表示 -->
      <%= link_to "/docs/#{doc.filename}" do %>
        <%= image_tag doc.image.try(:url), alt: doc.title, class: "img-article" %>
      <% end %>
      <!-- ディスクリプションの表示 -->
      <div><%= rm_html_tag(doc.body.to_s).truncate(200) %></div>
      <div class="readmore-btn">
        <button type="button" onclick='location.href="<%= "/docs/#{doc.filename}" %>"'>続きを読む</button>
      </div>
    </div>
  <% end %>
  <%= paginate @docs %>
</div>
