<p id="notice"><%= notice %></p>

<%= @layout.name %>
<%= @layout.site %>
<%= @layout.filename %>
<%= @layout.content %>

<%= link_to 'Edit', edit_admin_layout_path(@layout) %> |
<%= link_to 'Back', admin_layouts_path %>
